.HistoryScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    animation: appearingFromRightToLeft 0.3s ease-out 0ms 1;
    color: white;
    flex-direction: column;
}

@keyframes appearingFromRightToLeft {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0%);
    }
}

.HistoryScreen .ButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 50px black;
    z-index: 2;
}

.HistoryScreen .Button {
    max-width: 40px;
    max-height: 40px;
    user-select: none;
    transition: all 100ms;
}

.HistoryScreen .Entries {
    height: 100px;
    overflow: scroll;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    z-index: 1;
}

.HistoryScreen .Entries .Entry {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-bottom: 5px;
}